requests>=2.31.0,<3.0.0
pydantic>=2.0,<3.0
pydantic-settings>=2.0,<3.0
python-json-logger>=2.0,<3.0
colorlog>=6.0,<7.0
prometheus-client>=0.20,<1.0
Flask>=3.0.0,<4.0.0
shapely>=2.0.0,<3.0.0
pyproj>=3.6.0,<4.0.0
feedparser>=6.0.0,<7.0.0
APScheduler>=3.10.0,<4.0.0
python-dotenv>=1.0.0,<2.0.0
